.list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 1rem 0;
}

.list-item input {
  color: #fff;
  background: #19191b;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
  border: none;
  border-radius: 20px;
  outline: none;
  width: 55%;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.button-group {
  margin-top: 0.15rem;
  position: absolute;
  right: 23%;
}

.button-group button {
  cursor: pointer;
  text-align: center;
  align-items: center;
  border: none;
  width: 2.5rem;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  height: 2.5rem;
  margin: 0 0.5rem;
}

.icons {
  color: #29292cb2;
  border: none;
  font-size: 1.5rem;
}
.add-item {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 2rem;
  color: #fff;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .list-item input {
    width: 60%;
    padding: 0.4rem;
    font-size: 1rem;
  }
  .button-group {
    margin-top: 0.3rem;
    right: 22%;
  }

  .button-group button {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 0.2rem;
  }
  .icons {
    font-size: 1.2rem;
  }
}

@media (min-width: 577px) and (max-width: 1024px) {
  .list-item input {
    width: 70%;
    padding: 0.4rem;
    font-size: 1rem;
  }
  .button-group {
    margin-top: 0.5rem;
    right: 2%;
  }
  .button-group button {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 0.5rem;
  }
  .icons {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 576px) {
  .list {
    padding: 0.5rem 1rem;
  }

  .list-item input {
    border-radius: 20px;
    outline: none;
    width: 80%;
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  .button-group button {
    width: 1rem;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    height: 1rem;
    margin: 0 2px;
  }

  .button-group {
    margin-top: 0.3rem;
    right: 1%;
  }

  .icons {
    font-size: 0.8rem;
  }
}
